@CHARSET "ISO-8859-1";

.ocupado {
	-moz-box-shadow: inset 0px 1px 0px 0px #d6d6d6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #d6d6d6;
	box-shadow: inset 0px 1px 0px 0px #d6d6d6;
	background-color: #d1d1d1;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 0px 20px;
	height: 17px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
}

.ocupadoAdmin {
	-moz-box-shadow: inset 0px 1px 0px 0px #E94016;
	-webkit-box-shadow: inset 0px 1px 0px 0px #E94016;
	box-shadow: inset 0px 1px 0px 0px #E94016;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F53D14
		), color-stop(1, #B53013) );
	background: -moz-linear-gradient(center top, #F53D14 5%, #B53013 100%);
	filter: progid :       DXImageTransform.Microsoft.gradient (     
		 startColorstr =   
		   '#F53D14', endColorstr =       '#B53013' ); /*color end*/
	background-color: #F53D14;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #8A2B16;
	display: inline-block;
	color: #611408;
	font-family: arial;
	font-size: 15px;
	font-weight: normal;
	padding: 0px 20px;
	height: 17px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #DF907D;
}

.ocupadoAdmin:active {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F53D14
		), color-stop(1, #B53013) );
	background: -moz-linear-gradient(center top, #F53D14 5%, #B53013 100%);
	filter: progid :       DXImageTransform.Microsoft.gradient (     
		 startColorstr =   
		   '#F53D14', endColorstr =       '#B53013' );
	position: relative;
	top: 1px;
}

.ocupadoAdmin:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F53D14
		), color-stop(1, #B53013) );
	background: -moz-linear-gradient(center top, #F53D14 5%, #B53013 100%);
	filter: progid :       DXImageTransform.Microsoft.gradient (     
		 startColorstr =   
		   '#F53D14', endColorstr =       '#B53013' );
}

.modulo {
	-moz-box-shadow: inset 0px 1px 0px 0px #d6d6d6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #d6d6d6;
	box-shadow: inset 0px 1px 0px 0px #d6d6d6;
	background-color: #d1d1d1;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 0px 151px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
}

.modulo:active {
	position: relative;
	top: 1px;
}

.modulos {
	-moz-box-shadow: inset 0px 1px 0px 0px #d6d6d6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #d6d6d6;
	box-shadow: inset 0px 1px 0px 0px #d6d6d6;
	background-color: #d1d1d1;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 0px 16px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
}

.modulos:active {
	position: relative;
	/*top:1px;*/
}

.esquina {
	-moz-box-shadow: inset 0px 1px 0px 0px #d6d6d6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #d6d6d6;
	box-shadow: inset 0px 1px 0px 0px #d6d6d6;
	background-color: #d1d1d1;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 0px 47px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
.disponible {
	-moz-box-shadow: inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
	box-shadow: inset 0px 1px 0px 0px #caefab;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a
		), color-stop(1, #5cb811) );
	background: -moz-linear-gradient(center top, #77d42a 5%, #5cb811 100%);
	filter: progid :       DXImageTransform.Microsoft.gradient (     
		 startColorstr =   
		   '#77d42a', endColorstr =       '#5cb811' );
	background-color: #77d42a;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #268a16;
	display: inline-block;
	color: #306108;
	font-family: arial;
	font-size: 15px;
	font-weight: normal;
	padding: 0px 20px;
	height: 17px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #aade7c;
}

.disponible:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811
		), color-stop(1, #77d42a) );
	background: -moz-linear-gradient(center top, #5cb811 5%, #77d42a 100%);
	filter: progid :       DXImageTransform.Microsoft.gradient (     
		 startColorstr =   
		   '#5cb811', endColorstr =       '#77d42a' );
	/*background-color:#5cb811;*/
}

.disponible:active {
	position: relative;
	top: 1px;
	background-color: #5cb811;
	/*background-color:#000000;*/
}

.seleccionado {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #006600
		), color-stop(1, #007700) );
	background: -moz-linear-gradient(center top, #006600 5%, #007700 100%);
	filter: progid :       DXImageTransform.Microsoft.gradient (     
		 startColorstr =   
		   '#006600', endColorstr =       '#007700' );
	-moz-box-shadow: inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
	box-shadow: inset 0px 1px 0px 0px #660000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #000000;
	display: inline-block;
	font-family: arial;
	font-size: 15px;
	font-weight: normal;
	padding: 0px 20px;
	height: 17px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #aade7c;
}

.seleccionadoAdmin {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #660000
		), color-stop(1, #770000) );
	background: -moz-linear-gradient(center top, #660000 5%, #770000 100%);
	filter: progid :     DXImagetransform.Microsoft.gradient (  	 
		startColorstr =  
			   '#660000', endColorstr =     '#770000' );
	-moz-box-shadow: inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
	box-shadow: inset 0px 1px 0px 0px #660000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #000000;
	display: inline-block;
	font-family: arial;
	font-size: 15px;
	font-weight: normal;
	padding: 0px 20px;
	height: 17px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #aade7c;
}

/* This imageless css button was generated by CSSButtonGenerator.com */
#messageBox {
	overflow: visible;
	border-right: 1px solid #000000;
	position: absolute;
	width: 160px;
	z-index: 1;
	background-color: #d1d1d1;
	border-style: solid;
	border-width: 1px;
	display: none;
	border-radius: 15px;
	left: 402px;
	top: 50px;
	opacity: 0.9;
}

#contents {
	width: 100%;
	height: auto;
	z-index: 2;
	font-size: 20px;
	text-align: center;
}