/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
.title{
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.button{
	display: block;
	font-size: 16pt;
	padding: 5px 7px;
}

.buttonframe{
	text-align: center;
	width: 35px;
	height: 15px;
	font-size: 12pt;
	padding: 7px 7px;
	border: 1px solid #bbb;
	border-bottom: 1px solid #a0a0a0;
	border-radius: 3px;
	display: block;
	margin: 0;
}

.button-taken{
	height: 12px;
	display: block;
	margin: 0;
	border: 1px solid #bbb;
	border-bottom: 1px solid #a0a0a0;
	border-radius: 3px;
	font-size: 16pt;
	background-color: #FF0000;
	padding: 7px 7px;
	width: 35px;
	
}

.button-taken-down{
	background-color: #B12020;
}

.button-taken-down-hovering{
	background-color: #B12020;
}

.button-taken-up-hovering{
	background-color: #FF0000;
}

.buttontakennull {
	height: 12px;
	display: block;
	margin: 0;
	border: 1px solid #bbb;
	border-bottom: 1px solid #a0a0a0;
	border-radius: 3px;
	font-size: 16pt;
	background-color: #FF0000;
	padding: 7px 7px;
	width: 35px;
	
}

.buttonempty {
	height: 12px;
	display: block;
	margin: 0;
	border: 1px solid #bbb;
	border-bottom: 1px solid #a0a0a0;
	border-radius: 3px;
	font-size: 16pt;
	background-color: #C0C0C0;
	padding: 7px 7px;
	width: 35px;
}

.textbox{
	padding: 5px 4px;
	border: 1px solid #ccc;
	border-top: 1px solid #999;
	font-size: small;
	font-family: Arial Unicode MS, Arial, sans-serif;
	border-radius: 10px;
}

.textboxempty{
	background: #F59595;
	padding: 5px 4px;
	border: 1px solid #ccc;
	border-top: 1px solid #999;
	font-size: small;
	font-family: Arial Unicode MS, Arial, sans-serif;
	border-radius: 10px;
}

.buttonavaible {
	height: 12px;
	display: block;
	margin: 0;
	border: 1px solid #bbb;
	border-bottom: 1px solid #a0a0a0;
	border-radius: 3px;
	font-size: 16pt;
	background-color: #51FD00;
	padding: 7px 7px;
	width: 35px;
}

.buttonavaible-down {
	background-color: #53A82B;
}

.buttonavaible-down-hovering {
	background-color: #53A82B;
}

.buttonavaible-up-hovering {
	background-color: #51FD00;
}

/** Most GWT widgets already have a style name defined */
.dialogbox {
	width: 400px;
}

.dialogVPanel {
	margin: 5 px;
}

.serverresponselabelerror {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
.closebutton {
	margin: 15px 6px 6px;
}

.dietip{
	hight: 10px; 
	width: 53px;
}